@charset "UTF-8";
@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap')
	;

* {
	font-family: 'Noto Sans KR', sans-serif;
	font-family: 'Roboto', sans-serif;
	display: center;
	margin: auto;
}

#login-form {
	width: 440px;
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
}

#login-form li {
	margin-bottom: 17px;
}

#login-form li:last-child {
	margin-bottom: 0;
}

#login-form .input--text {
	width: 100%;
	height: 40px;
}

#login-form .caption {
	font-size: 12px;
	margin-top: 5px;
	color: rgba(255, 255, 255, .6);
	line-height: 1.5;
	text-align: center;
}

#login-form [type="submit"] {
	width: 100%;
	height: 62px;
	padding: 0 25px;
	font-size: 20px;
	justify-content: center;
}

ul {
	list-style: none;
	padding-left: 0px;
}

.input--text {
	height: 34px;
	padding: 0 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-sizing: border-box;
	outline: none;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
	font-size: 16px;
}

.input--text:focus {
	border-color: #51a7e8;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px
		rgba(81, 167, 232, 0.5);
}

/* Vendor Prefix(브라우저 업체별 접두사) */
.input--text::-webkit-input-placeholder {
	color: #A9A9A9;
}

.input--text::-ms-input-placeholder {
	color: #A9A9A9;
}

.input--text::-moz-input-placeholder {
	color: #A9A9A9;
}

.btn.btn--primary {
	margin-top : 10px;
	border: 1px solid #65b836;
	color: #fff;
	background: #55a532 linear-gradient(#91dd70, #55ae2e);
}

h3 {
	margin-top: 50px;
	text-align: center;
}

hr {
	background-color: #A9A9A9;
	margin-top: 30px;
}
.social{
	margin-top : 20px;
	margin-bottom : 0px;
	text-align: center;
	font-size: 20px;
	color: #A9A9A9;
}
.loginImg{
	width: 100%;
	height:62px;
	margin: 0px;
	text-align : center;
	display: inline-block;
}
.img{
	text-align : center;
	margin-left: auto;
	margin-right: auto;
}
.cookie{
	color: #A9A9A9;
	font-size: 15px;
	margin-left: 5px;
}
.check{
	accent-color : #91dd70;
	white-space: nowrap;
}
.label{
	font-size: 15px;
	display: inline-block;
	margin: 10px 20px;
	text-align: center;
	color: #A9A9A9;
}
.find{
	text-align: center;
}